[class="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html, body {
  margin: 0;
 background-image: url("../resources/images/texture2.jpeg");
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 2.4em;
  font-family: 'Raleway Dots', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 65px;
  height: 50px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 65px;
  height: 80px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #FBF9D2;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 80px;
}
section #services li span {
  width: 100px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
